<h2>heroes works!</h2>
<p>{{hero.name | uppercase}}</p>

<p>{{hero.id}}</p>

<div>
    <label for="name">enter name:</label>
    <input id="name" [(ngModel)]="hero.name" placeholder="name">

</div>

<div>
    <ul *ngFor="let her of heroes">

        <li>{{her.id}}

            <button (click)="updateid(her.id)">updateid</button>

        </li>
        <li>{{her.name}}</li>
    </ul>
</div>


<li *ngFor="let hero of heroes">
    <button type="button" (click)="onSelect(hero)">Onselect</button>
</li>

<div *ngIf="selectedHero">
    <h2>{{selectedHero.name | uppercase}} Details</h2>
    <div>id: {{selectedHero.id}}</div>
    <div>
      <label for="hero-name">Hero name: </label>
      <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
    </div>

</div>

<button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
    <p>button click is in parent component</p>
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
<p>child component uses property to pass data in [hero], hero is class , so it exists in child comonent,
    we called @Input() hero?:Hero;(child ts)

    so hero is object that parent put data in. hero here is the child input, 
    so child detail html use {{hero}} in *ngif="hero" to see if hero object has data 
</p>


 